<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.albatros.test1"
        versionCode="8" 
        version   = "1.0.0">

    <name>Publix(Vlad's Test)</name>

    <description>
        :)
    </description>
<preference name="android-minSdkVersion" value="8" />
<preference name="android-maxSdkVersion" value="17" />
<preference name="android-installLocation" value="auto" />
</widget>